.create-body {
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}
.create-video-container {
  padding-left: 0px;
  padding-right: 0px;
}
.create-form-row {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 80%;
}
.create-form-col {
  display: flex;
  justify-content: flex-end;
}
.create-form {
  width: 40%;
  margin-right: 5%;
}
.create-input-msg-container {
  height: 70%;
}
#create-msg-input {
  height: 100%;
  padding-top: 10px;
}
#create-name-input,
#create-contact-input,
#create-msg-input {
  background-color: #e3dac9;
  border-color: #e3dac9;
  border-radius: 0;
}
#create-name-input:focus,
#create-contact-input:focus,
#create-msg-input:focus {
  border: 1px solid #e0693e;
  box-shadow: 0 0 3px 1px #e0693e;
  background-color: #ffff;
}
#create-name-input::placeholder,
#create-contact-input::placeholder,
#create-msg-input::placeholder {
  color: #1a2223;
  font-size: 1.5rem;
}
#create-name-input::placeholder,
#create-contact-input::placeholder {
  transform: translateY(3px);
}
#create-msg-input::placeholder {
  transform: translateY(-6px);
}
.create-submit-btn {
  float: inline-end;
  width: 40%;
}
.create-msg-row {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
h2.create-msg {
  font-family: 'Palmore';
  color: #e3dac9;
  font-size: 4rem;
  margin-bottom: 4%;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  h2.create-msg {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  h2.create-msg {
    font-size: 3rem;
  }
}
@media screen and (max-width: 576px) {
  .create-body {
    background-color: #000000;
  }
  #create-video {
    display: none;
  }
  .create-form-row {
    position: relative;
  }
  .create-form-col {
    justify-content: center;
  }
  .create-form {
    width: 70%;
    margin-right: 0;
    margin-top: 10%;
    margin-bottom: 8%;
  }
  .create-msg-row {
    position: relative;
  }
  .create-input-msg-container {
    height: 250px;
  }
  #create-name-input::placeholder,
  #create-contact-input::placeholder,
  #create-msg-input::placeholder {
    text-align: center;
  }
  h2.create-msg {
    font-size: 3rem;
    margin-left: 15%;
    margin-right: 15%;
  }
}
