html, body {
  height: 100%;
}
.lately-body {
  background-color: #1A2223;
  height: 90%;
  overflow: hidden;
  padding: 0;
}
.lately-body {
  background-position: center bottom;
  background-size: 130% auto;
  background-repeat: no-repeat;
}
.lately-video-container {
  position: relative;
  padding-bottom: 45%;
  height: 100%;
  overflow: hidden;
}
#imagine-you-video {
  transform: scale(1.5);
  position: absolute;
  top: 20%;
  left: -6%;
  width: 110%;
  height: 100%;
  border: 0;
}
@media screen and (max-width: 1200px) {
  .lately-body {
    background-size: auto 100%;
  }
}
@media screen and (max-width: 768px) {
  .lately-body {
    background-position: 60% bottom;
  }
}
@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

h2.film-title {
  font-family: 'Palmore';
  color: #EBEFE7;
  font-size: 10rem;
  opacity: 0;
  animation: 2s linear 2s forwards fade-in;
}

.lately-details-row {
  background-color: #1A2223;
}
.lately-details-container {
  color: #EBEFE7;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 16px;
  opacity: 0;
  animation: 2s linear 2s forwards fade-in;
}
.lately-details-container span {
  display: block;
}
h2 {
  font-family: 'Palmore';
  font-size: 5rem;
}
.newsletter-submission-msg {
  display: none;
}



@media screen and (min-width: 576px) and (max-width: 768px) {
  h2.film-title {
    font-size: 9rem;
    top: 294px;
  }
}
@media screen and (max-width: 576px) {
  .lately-video-container {
    position: relative;
    padding-bottom: 19%;
    height: 100%;
    overflow: hidden;
  }
  #imagine-you-video {
    transform: scale(1.57);
    position: relative;
    top: 35px;
    left: -5%;
    border: 0;
  }
  h2.film-title {
    font-size: 5rem;
    opacity: 1;
    animation: none;
  }
  .lately-details-container {
    font-size: 1rem;
    color: #FFFFFF;
    opacity: 1;
    animation: none;
    text-align: center;
    flex: none;
    margin: 0 !important;
  }
  .lately-details-container p {
    margin-top: 16px;
  }
  h2.release-date {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
  }
}
