.lately-body {
  height: 90vh;
  overflow: hidden;
  padding: 0;
}
.lately-body {
  background-image: url('./assets/lately-bg.png');
  background-position: center bottom;
  background-size: 130% auto;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1200px) {
  .lately-body {
    background-size: auto 100%;
  }
}
@media screen and (max-width: 768px) {
  .lately-body {
    background-position: 60% bottom;
  }
}