@font-face {
	font-family: Palmore;
	src: url(https://static1.squarespace.com/static/64c2ab8b44c0312560249396/t/666a2f86176c011915b582c7/1718235014797/palmore-webfont.woff2);
}
@font-face {
	font-family: Palmore Semibold;
	src: url(https://static1.squarespace.com/static/64c2ab8b44c0312560249396/t/666c991694de7d0e08cd1975/1718393110480/palmoresemibold-webfont.woff);
}

body {
  font-family: 'Montserrat', sans-serif;
}
nav {
  background-color: #1A2223;
  color: #E3DAC9;
}
.nav-link,
.nav-link:active,
.nav-link:visited {
  color: #E3DAC9;
  font-size: 1.7em;
}
span.nav-link-underline {
  display: block;
  padding-bottom: 3px;
  border-bottom: 1px solid;
  width: 30%;
  margin: 0 auto;
  visibility: hidden;
}
.nav-link:hover {
  color: #E3DAC9;
}
.nav-link:hover > span.nav-link-underline {
  visibility: visible;
}
.navbar-brand {
  font-family: 'Palmore';
	font-size: 4em;
  color: #E3DAC9;
  padding: 0;
}
.navbar-brand:hover {
  color: #E3DAC9;
}