@font-face {
  font-family: Palmore;
  src: url('./assets/palmore-webfont.woff');
}
@font-face {
  font-family: Palmore Semibold;
  src: url('./assets/palmoresemibold-webfont.woff');
}

body {
  font-family: 'Montserrat', sans-serif;
}
nav {
  background-color: #1a2223;
  color: #e3dac9;
}
.nav-link,
.nav-link:active,
.nav-link:visited {
  color: #e3dac9;
  font-size: 1.7em;
}
span.nav-link-underline {
  display: block;
  padding-bottom: 3px;
  border-bottom: 1px solid;
  width: 30%;
  margin: 0 auto;
  visibility: hidden;
}
.nav-link:hover {
  color: #e3dac9;
}
.nav-link:hover > span.nav-link-underline {
  visibility: visible;
}

/* BRAND IN NAVBAR */
.navbar-brand {
  font-family: 'Palmore';
  font-size: 4em;
  color: #e3dac9;
  padding: 0;
  margin: 0;
  position: relative;
  top: -10px;
}
.navbar-brand:hover {
  color: #e3dac9;
}
@keyframes move-brand {
  100% {
    transform: translateX(-49vw);
    /* opacity: 0; */
  }
}
@media screen and (min-width: 800px) {
  .brand {
    position: absolute;
    left: 50%;
    animation: 0.5s linear 1s forwards move-brand;
  }
}

/* NAVBAR */
@keyframes unhide-nav {
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (min-width: 800px) {
  .navbar-nav {
    opacity: 0;
    visibility: hidden;
    animation: 0.5s linear 1.3s forwards unhide-nav;
  }
}
