/* fonts */
@font-face {
  font-family: Palmore;
  src: url(https://static1.squarespace.com/static/64c2ab8b44c0312560249396/t/666a2f86176c011915b582c7/1718235014797/palmore-webfont.woff2);
}
@font-face {
  font-family: Palmore Semibold;
  src: url(https://static1.squarespace.com/static/64c2ab8b44c0312560249396/t/666c991694de7d0e08cd1975/1718393110480/palmoresemibold-webfont.woff);
}

// GENERAL HEADERS
.header-title-text, h1 {
  font-family: 'Palmore';
  font-weight: 400;
}
#footer-sections h2 {
font-family: 'Palmore Semibold';
letter-spacing: 2rem;
}
#footer-sections h3 {
font-family: 'Palmore Semibold';
position: relative;
top: -10px;
}

// SITE TITLE
@keyframes move-title {
100% {
  transform: translateX(-100%);
}
}
@keyframes rm-title-center {
100% {
  transform: translateX(-25%);
}
}
/*@media screen and (min-width:800px) {
 .header-title-text {
    position: relative;
    left: 25%;
    animation: .5s linear .5s forwards rm-title-center;
}
.header-title {
    position: relative;
    left: 50%;
    /*animation: 2s linear 1s forwards move-title;
}
}
*/

// SITE NAV
.header-nav-item {
font-size: 35px;
font-weight: 500;
}


// NEWSLETTER
.newsletter-form-body {
display: inline-block;
width: 100%
}
.newsletter-form-fields-wrapper {
width: 70% !important
}
#email-yui_3_17_2_1_1718649866426_982-field {
background-color: #E3DAC9;
box-shadow: inset 0px 0px 0px 1px #1A2223;
}
#email-yui_3_17_2_1_1718649866426_982-field:focus{
outline: none!important;


}
#email-yui_3_17_2_1_1718649866426_982-field::placeholder {
color: #1A2223;
font-family: 'Palmore';
font-size: 35px;
text-align: center;
transform: translateY(3px);
}
#email-yui_3_17_2_1_1718649866426_982 {
color: #1A2223;
width: 100%;
padding-right: 0px;
}
.newsletter-form-button-wrapper {
width: 200px !important;
padding-left: 0px !important;
margin-left: -10px !important
}
.newsletter-form-button {
width: 100% !important;
}




/* wip - turns out probably not needed */
/* social icons */
/* mail icon */
/* container */
.fe-block-yui_3_17_2_1_1718659379578_30452 {

}
/* img */
#block-yui_3_17_2_1_1718659379578_30452 img {
/* width: 41px;
height: 30px; */


}
/* instagram icon */
/* container */
.fe-block-yui_3_17_2_1_1718659379578_29378 {

}
/* img */
#block-yui_3_17_2_1_1718659379578_29378 img {


}
/* phone icon */
/* container */
.fe-block-yui_3_17_2_1_1718659379578_25762 {

}
/* img */
#block-yui_3_17_2_1_1718659379578_25762 img {


}
/*
section[data-section-id="6674835430751722b8fbd548"] .section-background .sqs-video-background {
  top: 90px;  
}*/